.top-left {
  min-height: 200px;
}

.img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.logo {
  line-height: 200px;
}

.main {
  padding: 20px;
}

.thumbnail {
  width: 100%;
  height: auto;
}
