<div class="container">
  <mat-card>
    <div class="container">
      <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px grid">
        <div fxFlex="100" fxFlex.gt-sm="20">
          <div class="logo">
            <img
              src="/assets/images/PhillsLogo.png"
              class="img"
              id="phills-logo"
            />
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="80">
          <div id="phills-text">
            <h3>Phill's Models</h3>

            <p>
              Before getting into the cars and the best setups we wanted to
              mention <b>Phill's Models</b> in North Shields our
              <b>local model shop</b> - it's great to support guys like these in
              a time when online purchasing threatens these businesses and the
              assistance they can provide to racers and modellers alike.
            </p>
            <p>
              <b>Phill's Models offer us a great service</b> where if you let
              Phill (or Chris Clarke) know in advance
              <b
                >they'll usually get the spares or tyres etc. you need down at
                the next race meet
              </b>
              - this is great value for you and saves on postage - their website
              (including directions) can be accessed
              <a href="https://www.phillsmodels.com/" id="phills-model-link"
                >here</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="container">
      <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px grid">
        <div fxFlex="100" fxFlex.gt-sm="20">
          <div class="logo">
            <img src="/assets/images/TyresBuggyAndTyresTC.png" class="img" />
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="80">
          <div class="tyres-text">
            <h3>Tyres</h3>
            <p>
              <B>Best TC Tyres</B>
              <br />Schumacher SST Yellow Mini Pin Tyres, SST Yellow Rally
              Tyres, or Carpet Dragon SST Tyres
            </p>
            <p>
              <B>Best Buggy Tyres</B>
              <br />Schumacher Mini Pin 2 Yellow compound tyres work best for
              buggies on the wooden gym floor and grip especially well when they
              start to just fray at the end of the pin (mini pin 1s are not far
              behind). Alternatively yellow darts and even mini spikes can work
              well and some like the 'edgier' staggered ribs at the front. The
              Schumacher Cactus tyres are not suited to this surface nor are
              tyres with the outer edge pins removed - these being better for
              the grippier surfaces (more grip roll) like astro or carpet
              <br />
            </p>
          </div>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="container">
      <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px grid">
        <div fxFlex="100" fxFlex.gt-sm="20">
          <div class="TouringCars">
            <h3>
              Touring Cars (1/10th Electric)
            </h3>
            <div class="logo">
              <img src="/assets/images/TouringCar.png" class="img" />
            </div>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="20">
          <img src="/assets/images/SchumacherMi5TC.jpg" class="thumbnail" />
        </div>

        <div fxFlex="100" fxFlex.gt-sm="20">
          <mat-list>
            <mat-list-item> Name: Schumacher Mi5 </mat-list-item>
            <mat-list-item> Setup: to follow </mat-list-item>
            <mat-list-item> Links: to follow</mat-list-item>
          </mat-list>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="20">
          <img src="/assets/images/3RacingSakuraXITC.jpg" class="thumbnail" />
        </div>

        <div fxFlex="100" fxFlex.gt-sm="20">
          <mat-list>
            <mat-list-item> Name: 3RacingSakuraXITC </mat-list-item>
            <mat-list-item> Setup: to follow </mat-list-item>
            <mat-list-item> Links: to follow</mat-list-item>
          </mat-list>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="30">
          <img src="/assets/images/DurangoDETC410-2TC.jpg" class="thumbnail" />
        </div>

        <div fxFlex="100" fxFlex.gt-sm="15">
          <mat-list>
            <mat-list-item> Name: DurangoDETC410-2TC </mat-list-item>
            <mat-list-item> Setup: to follow </mat-list-item>
            <mat-list-item> Links: to follow</mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>

    <div class="container">
      <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px grid">
        <div fxFlex="100" fxFlex.gt-sm="20">
          <h3>
            4wd Buggies (1/10th Electic)
          </h3>
          <div class="logo">
            <img src="/assets/images/SchumacherCatL1.png" class="img" />
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="40"></div>
        <div fxFlex="100" fxFlex.gt-sm="40">
          something else
        </div>
      </div>
    </div>

    <div class="container">
      <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px grid">
        <div fxFlex="100" fxFlex.gt-sm="20">
          <h3>
            Touring Cars (1/10th Electric)
          </h3>
          <div class="logo">
            <img src="/assets/images/TouringCar.png" class="img" />
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="40">
          something
        </div>
        <div fxFlex="100" fxFlex.gt-sm="40">
          something else
        </div>
      </div>
    </div>
  </mat-card>
</div>
