.img1 {
  width: 50%;
  height: 50%;
}

.img {
  width: 50%;
  height: 50%;
}

.title-text {
  font-size: 25px;
  color: rgb(255, 255, 255);
  background-color: rgb(53, 53, 53);
  text-align: left;
}
