<div class="container">
  <div fxLayout="row wrap" fxLayoutAlign="start">
    <div fxFlex="100%" fxFlex.lt-sm="100%">
      <div background-color: #80ced6;>
        <mat-card>
          <h2 class="mat-h2" class="title-text">
            Where to find us
          </h2>
          We race indoors at the <b> Tynemet College Sports Hall in </b> in
          Battle just off the Coast Road near Wallsend in Newcastle - see the
          map below and address below (or use the link here: Google Maps )

          <p>
            Tyne Metropolitan College <br _ngcontent-c4="" />Battle Hill Drive
            <br _ngcontent-c4="" />Wallsend <br _ngcontent-c4="" />Tyne and Wear
            <br _ngcontent-c4="" />NE28 9NL
          </p>

          The second map shows <b> where to find the Sports Hall </b> within the
          Tynemet College campus and <b> where is best to park </b> in order to
          best gain access to the hall
        </mat-card>

        <div>
          <img src="assets/images/NCRC-map.png" class="img1" />
        </div>
        <mat-card>
          <h5 class="mat-h5">
            Plain Google map showing location of Tynemet College off the Coast
            Road in Wallsend near to Silverlink
          </h5>
        </mat-card>

        <div>
          <img src="assets/images/NCRC-map2.png" class="img" />
        </div>
        <mat-card>
          <h5 class="mat-h5">
            Satellite Google map showing the Sports Hall at Tynemet College and
            the driving route including best parking spots
          </h5>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
    <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px grid">
      <div fxFlex="50%" fxFlex.lt-sm="100%">
        <div>
          <img src="assets/images/NCRC-map.png" class="img1" />
        </div>
        <mat-card>
          <h5 class="mat-h5">
            Plain Google map showing location of Tynemet College off the Coast
            Road in Wallsend near to Silverlink
          </h5>
        </mat-card>
      </div>
      <div fxFlex="50%" fxFlex.lt-sm="100%">
        <div>
          <img src="assets/images/NCRC-map2.png" class="img" />
        </div>
        <mat-card>
          <h5 class="mat-h5">
            Satellite Google map showing the Sports Hall at Tynemet College and
            the driving route including best parking spots
          </h5>
        </mat-card>
      </div>
    </div>
  </div>
</div> -->
