<div class="container">
  <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px grid">
    <div fxFlex="60%" fxFlex.lt-sm="100%">
      <mat-card>
        <h2 class="mat-h2">
          Title
        </h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at
        posuere ligula. Curabitur sagittis iaculis nisl eu tincidunt.
        Suspendisse potenti. Ut ut auctor justo, vitae laoreet orci. Duis a diam
        ipsum. Pellentesque vehicula ex eros, at tempus neque feugiat vitae. Sed
        a metus a nibh porttitor consectetur quis eget felis. Phasellus quam
        leo, faucibus a libero non, imperdiet facilisis erat. Quisque et
        vestibulum velit. Etiam feugiat tempor arcu vel fermentum. Nunc orci
        nulla, commodo vel ante at, congue dignissim libero. Praesent sed ligula
        nisi. Aliquam mi mi, congue sed molestie id, luctus in nulla. Aliquam
        venenatis sapien quis orci imperdiet, ac consequat justo tincidunt.
        Integer sollicitudin nec purus non auctor. Mauris nisl nisi, pulvinar ut
        tempus ut, bibendum sit amet velit. Vestibulum eget risus nulla. Etiam
        non tortor commodo, condimentum risus eget, volutpat nisi. Ut ac sem sed
        sem posuere malesuada vel vel ligula. Etiam ullamcorper eros aliquet
        erat pretium varius. Curabitur eu interdum mi. Sed gravida accumsan odio
        nec ultrices. Phasellus rutrum rhoncus tempus. In rhoncus hendrerit
        tempus. In varius risus at risus varius, sed porttitor leo sodales. In
        sed elit in eros eleifend auctor. Donec nec purus dolor. In sit amet
        nulla in ante vehicula varius. Nulla eu arcu nibh. Nunc augue enim,
        venenatis in sapien id, blandit faucibus urna. Nullam bibendum risus
        aliquam erat ultrices lobortis ut sit amet ex. Proin at gravida nulla, a
        tincidunt lectus. Suspendisse et maximus libero. Cras at erat cursus,
        porttitor tellus ut, dapibus velit. Fusce consectetur ac nunc ut
        blandit. Donec sed rhoncus odio. Proin ac eros sed ipsum vestibulum
        bibendum eu eu urna. Nam placerat finibus aliquam. In non nulla
        elementum, dictum sapien consectetur, maximus elit. Donec vehicula urna
        semper turpis mollis tincidunt. Etiam tempus nulla a diam placerat,
        semper iaculis sapien finibus. Praesent suscipit quis quam non auctor.
        Praesent commodo facilisis lobortis. In ut nunc vitae nisi bibendum
        tristique non ut ante. Mauris eget lacus a nulla consequat faucibus.
        Pellentesque vitae nibh sed metus consectetur placerat at eu turpis. Sed
        suscipit maximus elit, ut mattis tellus lacinia sit amet. Integer sed
        tempor ante. Pellentesque habitant morbi tristique senectus et netus et
        malesuada fames ac turpis egestas. Sed faucibus quam at ex semper
        iaculis. Vivamus erat odio, tincidunt auctor varius ac, pharetra non
        purus. Duis efficitur dapibus nunc non convallis. Nulla eget erat magna.
        Morbi mollis ipsum eu ante convallis bibendum. Mauris turpis erat,
        euismod a nisl at, imperdiet vulputate neque. Pellentesque fringilla
        dictum ligula, et luctus diam pulvinar vitae. In urna tellus, malesuada
        a auctor quis, pulvinar vel diam. Donec quis tempus elit. In hac
        habitasse platea dictumst. Donec gravida sem augue, eu ornare neque
        tincidunt eget. Vestibulum tempor luctus bibendum. Nullam ut mattis
        erat, eget posuere justo. Integer a ligula purus. Pellentesque elementum
        tincidunt tempus. Donec ullamcorper dolor malesuada, tristique est eu,
        laoreet urna. Maecenas tellus diam, cursus ac justo at, suscipit aliquet
        nulla. Suspendisse potenti.
      </mat-card>
    </div>
    <div fxFlex="40%" fxFlex.lt-sm="100%">
      <mat-card>
        <h2 class="mat-h2">
          Title
        </h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at
        posuere ligula. Curabitur sagittis iaculis nisl eu tincidunt.
        Suspendisse potenti. Ut ut auctor justo, vitae laoreet orci. Duis a diam
        ipsum. Pellentesque vehicula ex eros, at tempus neque feugiat vitae. Sed
        a metus a nibh porttitor consectetur quis eget felis. Phasellus quam
        leo, faucibus a libero non, imperdiet facilisis erat. Quisque et
        vestibulum velit. Etiam feugiat tempor arcu vel fermentum. Nunc orci
        nulla, commodo vel ante at, congue dignissim libero. Praesent sed ligula
        nisi.
      </mat-card>
    </div>
  </div>
</div>
