<div class="container">
  <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px grid">
    <div fxFlex="60%" fxFlex.lt-sm="100%" background-color: #80ced6;>
      <mat-card>
        <h2 class="mat-h2" class="title-text">
          Newcastle RC Car Racers
        </h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at
        posuere ligula. Curabitur sagittis iaculis nisl eu tincidunt.
        Suspendisse potenti. Ut ut auctor justo, vitae laoreet orci. Duis a diam
        ipsum. Pellentesque vehicula ex eros, at tempus neque feugiat vitae. Sed
        a metus a nibh porttitor consectetur quis eget felis.
        <p>
          Phasellus quam leo, faucibus a libero non, imperdiet facilisis erat.
          Quisque et vestibulum velit. Etiam feugiat tempor arcu vel fermentum.
          Nunc orci nulla, commodo vel ante at, congue dignissim libero.
          Praesent sed ligula nisi.
        </p>
        <p>
          Aliquam mi mi, congue sed molestie id, luctus in nulla. Aliquam
          venenatis sapien quis orci imperdiet, ac consequat justo tincidunt.
          Integer sollicitudin nec purus non auctor. Mauris nisl nisi, pulvinar
          ut tempus ut, bibendum sit amet velit. Vestibulum eget risus nulla.
          Etiam non tortor commodo, condimentum risus eget, volutpat nisi. Ut ac
          sem sed sem posuere malesuada vel vel ligula.
        </p>
      </mat-card>
    </div>
    <div fxFlex="40%" fxFlex.lt-sm="100%">
      <mat-video src="assets/videos/4wdRacing.mp4"></mat-video>
      <mat-card>
        <h1 class="mat-h2">
          See our welcome video here
        </h1>
      </mat-card>
    </div>
  </div>
</div>

<div class="container">
  <div fxLayout="row wrap" fxLayoutAlign="start">
    <div fxFlex="100%" fxFlex.lt-sm="100%">
      <mat-card>
        <h2 class="mat-h2" class="title-text">
          Announcements
        </h2>
        No racing on Monday 7th May - we'll be back the following week (see
        Facebook page for more details). Old website link here.
      </mat-card>
    </div>
  </div>
</div>

<div class="container">
  <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px grid">
    <div fxFlex="33.3%" fxFlex.lt-sm="100%">
      <mat-card>
        <h2 class="mat-h2" class="title-text">
          Touring Car Current Series Leaderboard
        </h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </mat-card>
    </div>
    <div fxFlex="33.3%" fxFlex.lt-sm="100%">
      <mat-card>
        <h2 class="mat-h2" class="title-text">
          Buggy 4wd Current Series Leaderboard
        </h2>
        Lorem ipsum dolor sit amet, nisi.
      </mat-card>
    </div>

    <div fxFlex="33.3%" fxFlex.lt-sm="100%">
      <mat-card>
        <h2 class="mat-h2" class="title-text">
          Buggy 2wd Current Series Leaderboard
        </h2>
        Lorem ipsum dolor sit amet, nisi.
      </mat-card>
    </div>
  </div>
</div>
