.title-text {
  font-size: 25px;
  color: rgb(255, 255, 255);
  background-color: rgb(53, 53, 53);
  text-align: left;
}

.logo {
  line-height: 100px;
}

.img {
  width: 10%;
  height: 10%;
}

.mat-h2 {
  background-color: #303030;
  color: white;
  padding-left: 10px;
}
