<div class="container">
    <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px grid">
        <div fxFlex="60%" fxFlex.sm="100%">
            <div class="top-left"></div>
        </div>
        <div fxFlex="40%" fxFlex.sm="100%">
            <div class="top-left"></div>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start">
        <div class="top-left"></div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start">
        <div class="top-left"></div>
        <div class="top-left"></div>
        <div class="top-left"></div>
    </div>
</div>
